In [3]:
# Basic Libraries
import numpy as np
import pandas as pd
import datetime
#test comment

In [4]:
df = pd.read_csv('vessel_movements_PPT.csv')

In [5]:
df.head()

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,anchorage,terminal,maneuvering_zone,p,vref,sfc_me,sfc_ae,sfc_ab,ael,abl
0,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:42.000Z,2023-09-17,103.826065,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
1,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:44.000Z,2023-09-17,103.826065,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
2,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:43.000Z,2023-09-17,103.825690,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
3,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:45.000Z,2023-09-17,103.825690,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
4,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:10:42.000Z,2023-09-17,103.825580,...,PPT Anchorage,NaN,NaN,7860.0,14.5,185.00,230.0,300.0,507.0,365.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2822594,9708693,374766000,714547,MSC CLARA,2015-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T21:59:17.000Z,2023-08-21,103.761665,...,NaN,NaN,PPT Maneouvering Zone,62500.0,19.0,175.00,220.0,300.0,NaN,NaN
2822595,9708693,374766000,714547,MSC CLARA,2015-11-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T22:02:17.000Z,2023-08-21,103.761665,...,NaN,NaN,PPT Maneouvering Zone,62500.0,19.0,175.00,220.0,300.0,4493.0,908.0
2822596,9449106,636020361,647347,MENDELSSOHN,2012-04-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T21:58:47.000Z,2023-08-21,103.783330,...,NaN,NaN,PPT Maneouvering Zone,31990.0,23.0,174.83,220.0,300.0,NaN,NaN
2822597,9449106,636020361,647347,MENDELSSOHN,2012-04-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T22:01:47.000Z,2023-08-21,103.783330,...,NaN,NaN,PPT Maneouvering Zone,31990.0,23.0,174.83,220.0,300.0,2503.0,436.0
2822598,9450313,636091832,647462,Northern Priority,2009-10-01,Container Ship (Fully Cellular),Container Ship,2023-08-21T22:01:40.000Z,2023-08-21,103.766670,...,NaN,NaN,PPT Maneouvering Zone,36560.0,22.5,172.91,195.0,300.0,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822599 entries, 0 to 2822598
Data columns (total 32 columns):
 #   Column                 Dtype
---  ------                 -----
 0   imo                    int64
 1   mmsi                   int64
 2   vessel_id              int64
 3   vessel_name            object
 4   date_of_build          object
 5   vessel_type            object
 6   group                  object
 7   timestamp              object
 8   date_only              object
 9   lon                    float64
 10  lat                    float64
 11  nav_stat               int64
 12  speed                  float64
 13  course                 float64
 14  heading                float64
 15  fuel_category          int64
 16  main_engine_fuel_type  object
 17  aux_engine_fuel_type   object
 18  engine_type            object
 19  berth                  object
 20  port_name              object
 21  coverage               object
 22  anchorage              object
 23  terminal               object
 24  maneuvering_zone       object
 25  p                      float64
 26  vref                   float64
 27  sfc_me                 float64
 28  sfc_ae                 float64
 29  sfc_ab                 float64
 30  ael                    float64
 31  abl                    float64
dtypes: float64(12), int64(5), object(15)
memory usage: 689.1+ MB

In [ ]:
df.shape

In [ ]:
df["imo"].nunique()

In [ ]:
df["emi_tier"] = 0

In [ ]:
df['date_of_build'] = pd.to_datetime(df['date_of_build'], format="%Y-%m-%d")

# Define the reference date as a datetime object
reference1 = datetime.datetime(2016, 1, 1)
reference2 = datetime.datetime(2011, 1, 1)
reference3 = datetime.datetime(2000, 1, 1)

df.loc[(df['date_of_build'] >= reference1),"emi_tier"] = 1
df.loc[((df['date_of_build'] > reference2)&(df['date_of_build'] < reference1)),"emi_tier"] = 2
df.loc[((df['date_of_build'] > reference3)&(df['date_of_build'] < reference2)),"emi_tier"] = 3
df

In [ ]:
df['date_of_build'] = pd.to_datetime(df['date_of_build'], format="%Y-%m-%d")
df.head(100)

In [ ]:
df1 = pd.read_csv('propulsion_engine_emission_factors.csv')
df2 = pd.read_csv('boiler_engine_emission_factors.csv')
df3 = pd.read_csv('auxiliary_engine_emission_factors.csv')

In [ ]:
df["vessel_type"].value_counts()

In [ ]:
l_1 = ["Container Ship (Fully Cellular)","Chemical/Products Tanker","Products Tanker","Bunkering Tanker","Asphalt/Bitumen Tanker","General Cargo Ship","Passenger Ship","Crude/Oil Products Tanker","Bulk Carrier","Crude Oil Tanker","Refrigerated Cargo Ship","Fish Carrier","Chemical Tanker","Passenger/Cruise","Passenger/Ro-Ro Ship (Vehicles)","Ro-Ro Cargo Ship","LPG Tanker","Buoy Tender","Passenger/Landing Craft","Aggregates Carrier","General Cargo Ship (with Ro-Ro facility)","LPG/Chemical Tanker"]

In [ ]:
df["require"] = False
df.loc[df["vessel_type"].isin(l_1),"require"]=True
df

In [ ]:
df.loc[df["require"]==False]

In [ ]:
df = df.drop(df.loc[df["vessel_type"]==False].index,axis = 0)
df

In [ ]:
df.to_csv("step3.csv",index = False)